body {
  margin: 30px auto;
  max-width: 1000px;
  font-family: "Trebuchet MS";
  line-height: 1.5;
  padding: 30px 20px;
  text-align: center;
  text-color: #581845;
  background-color: linear-gradient (#3684D6, #7BBCD2);
  background-image: url("background_alternate.png");
  background-size: cover;
  height: 100%
}

h1 {
  padding: 20px 0px 10px 0px;
}

a {
color: #36709D;
text-decoration: none;
}

img {
display: block;
margin: 0px auto;
}

.index-item {
margin-top: 30px;
padding: 20px;
background-color: #A6F5EF;
}

a:hover {
  text-color: #C383E5;
  background-color: #F9E130;
}
  
.container {
  display: flex;
}

.item {
  background: #ce8888;
  flex-basis: 70px;
  height: 50px;
  margin: 20px;
}
 
#image > img {
  width: 428px;
  height: 640px;
       
      }

.card-item > img {
    display: none;
  
      }
