body {
  margin: 30px auto;
  max-width: 1000px;
  font-family: "Trebuchet MS";
  line-height: 1.5;
  padding: 30px 20px;
  text-align: center;
  text-color: #8E0A64;
  background-color: #CB5A87;
  background-image: url("background_map.png");
  background-size: cover;
  height: 100%
}

h1 {
  padding: 20px 0px 10px 0px;
}

a {
color: #083F78;
text-decoration: none;
}

img {
display: block;
margin: 0px auto;
}

.locationcards-item {
margin-top: 60px;
padding: 35px;
background-color: #348EA0;
}

.maps-item {
margin-top: 25px;
padding: 15px;
background-color: #F2FEFF;
}

a:hover {
  text-color: #C383E5;
  text-shadow: 2px 2px 6px #BCB0E7;
}
