body {
  margin: 30px auto;
  max-width: 1000px;
  font-family: "Trebuchet MS";
  line-height: 1.2;
  padding: 30px 20px;
  text-align: center;
  background-color: #A6F5EF;
  background-image: url("background_map.png");
  background-size: cover;
  height: 100%
}

h1 {
  padding: 20px 0px 10px 0px;
}

a {
color: #083F78;
text-decoration: none;
}

img {
display: block;
margin: 0px auto;
}

.locationcards-item {
margin-top: 60px;
padding: 35px;
background-color: #7190D6;
}

.maps-item {
margin-top: 25px;
padding: 15px;
background-color: #FBF3B3;
}

.card-item > img {
    display: none;
}

a:hover {
  text-color: #C383E5;
  text-shadow: 2px 2px 6px #BCB0E7;
  font-size: 19px;
}

/* 7 image containers (use 10% for four, and 20% for two, etc) */
.column {
  float: left;
  width: 13.5%;
  padding: 2px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}

/* Responsive layout - makes the seven columns stack on top of each other instead of next to each other */
@media screen and (max-width: 250px) {
  .column {
    width: 100%;
  }
}

/* 3 image containers (use 20% for four, and 40% for two, etc) */
.column1 {
  float: left;
  width: 31%;
  padding: 2px;
}

/* Clear floats after image containers */
.row1::after {
  content: "";
  clear: both;
  display: table;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 250px) {
  .column {
    width: 100%;
  }
}
