body {
  margin: 30px auto;
  max-width: 1000px;
  font-family: "Georgia";
  line-height: 1.5;
  padding: 30px 20px;
  text-align: center;
  background-color: #F3EDEF;
  background-image: url("background.png");
  background-size: cover;
  height: 100%
}

h1 {
  padding: 20px 0px 10px 0px;
}

a {
color: #533E75;
text-decoration: none;
}

img {
display: block;
margin: 0px auto;
}

.storymodules-item {
margin-top: 60px;
padding: 40px;
background-color: #F6DC55;
}

.container {
  display: flex;
}

.item {
  background: #CE8888;
  flex-basis: 70px;
  height: 50px;
  margin: 20px;
}

a:hover {
  background-color: #F9E130;
  text-shadow: 3px 3px 6px #FFFEE9;
  font-size: 21px;
}
