body {
  margin: 30px auto;
  max-width: 1000px;
  font-family: "Secular One";
  line-height: 1.5;
  padding: 30px 20px;
  text-align: center;
  background-color: #F3EDEF;
  background-image: url("background.png");
  background-size: cover;
  height: 100%
}

h1 {
  padding: 20px 0px 10px 0px;
}

a {
color: #533E75;
text-decoration: none;
}

img {
display: block;
margin: 0px auto;
}

.storymodules-item {
margin-top: 60px;
padding: 40px;
background-color: #D179A8;
}

p:hover, h1:hover, a:hover {
  background-color: #F9E130;
